.home-page {
    padding-top: 30px;
}
.home-page > div:first-child {
    margin-right: 20px;
    max-width: 550px;
    width: 100%;
}
.home-page .loading-area {
    padding-top: 40px;
    padding-bottom: 10px;
}

.post-list .list-item {
    width: 100%;
    padding-bottom: 60px;
}

.post-list .list-item:last-child {
    padding-bottom: 0;
}
.follow-panel {
    width: 300px;
}
.follow-panel span {
    color: #8e8e8e;
}
.follow-panel > div:first-child {
 margin-bottom: 20px;
}

.user-area img {
    width: 56px;
    border-radius: 50%;
    margin-right: 15px;
}
.user-area img {
    width: 56px;
    border-radius: 50%;
}
.user-area .user-info {
    line-height: 1;
    flex-direction: column;
}
